root {
  font-family: 'Bebas Neue', cursive;
}

body {
background-color: white;
  font-family: 'Bebas Neue', cursive;
  color:white;
  h1 {
    font-weight: bolder;
  }
}


.myBgOpacityWhite30 {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: -1px 1px 10px 10px rgba(255, 255, 255, 0.3)
}

.opacity-80 {
  opacity: 80%;
}
.myBlockTextBase {
  padding: 15px;
  margin-top: 50px;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: -1px 1px 10px 10px rgba(255, 255, 255, 0.3);
  a{
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
  }
}
.myBlockTextBaseBgWhite {
  @extend .myBlockTextBase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: black;
  background-color: rgba(255,255,255, 0.95);
  box-shadow: 0px 2px 4px 1px rgba(0,0,0, 0.5);
  a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
  }
  p {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
  }
}

.myBlockBaseBgWhite {
  @extend .myBlockTextBase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: black;
  background-color: rgba(255, 255, 255, 0.90);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.5);
}


.myProgramCardCard {

  /* container card acordion */
  div {

    /* container card complete */
    div {
      border-radius: 10px !important;

      /* container card header*/
      div:nth-child(1) {
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
        height: auto;
        text-align: center;

        background-color: white;
        border-radius: 8px 8px 0px 0px !important;

        h3 {
          button {
            color: red;
            font-weight: bold;
            text-shadow: rgb(255, 255, 255) -1px -2px 0.95em;
            font-size: 2rem;
            border: none !important;
            border-width: 0 !important;
            text-decoration: none !important;
          }

          button:hover {
            text-shadow: 3px 4px 3px rgba(255, 255, 255, 0.4);
            font-size: 2.07rem;
            border: none;
            border-style: none;
            text-decoration: none !important;
            background-color: darken(white, 2%);
            border-radius: 10px;
          }
        }

        img {
          border-radius: 0px 10px 0px 0px;
          border: none;
          width: 100px;
          height: auto;
        }
      }

      .collapse {
        text-align: left;
        border-radius: 0px;
      }

      /* title afficher les options */
      a {
        font-size: 2.05rem;
        color: white;
        text-decoration: none;

      }

      a:hover {
        color: white;
        text-decoration: none;
        font-size: 2.08rem;

      }


    }
  }
}


.myEpisodeCard {
  color: white;

  /* container card acordion */
  div {

    /* container card complete */
    div {
      border-radius: 10px !important;

      /* container card header*/
      div:nth-child(1) {
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
        height: auto;
        text-align: center;
        background-color: white;
        border-radius: 8px !important;

        h3 {
          button {
            color: black;
            font-weight: bold;
            text-shadow: 2px 3px 2px rgba(255, 255, 255, 0.2);
            font-size: 1rem;
            border: none !important;
            border-width: 0 !important;
            text-decoration: none !important;
          }

          button:hover {
            text-shadow: 3px 4px 3px rgba(255, 255, 255, 0.4);
            font-size: 1.07rem;
            border: none;
            border-style: none;
            text-decoration: none !important;
            background-color: darken(white, 2%);
            border-radius: 10px;
          }
        }

        img {
          border-radius: 0px 10px 10px 0px;
          border: none;
          width: 30px;
          height: auto;
        }
      }

      .collapse {
        text-align: left;
        border-radius: 0px;
      }

      /* title afficher les options */
      a {
        font-size: 1.05rem;
        color: white;
        text-decoration: none;

      }

      a:hover {
        color: white;
        text-decoration: none;
        font-size: 1.08rem;
      }


    }
  }
}



  /* title afficher les options */

.myButton {

    font-family: 'Bebas Neue', cursive;
    color: white !important;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.1cm;
    /*background: -webkit-linear-gradient(top right, red 75px, white 25px, white 5%);*/
    box-shadow: 1px 1px 5px 2px rgba(255, 255, 255, 0.7);
    background-clip: padding-box;
    border-radius: 5px;
    background-color: red;
    heigt:60%;
    min-height: 40px;
    padding: 5px 5px 0px 5px;
    margin:3px;
  }

.myButton:hover {
  text-shadow: rgb(255, 255, 255) -1px -2px 0.95em;
  text-align: center;
  box-shadow: -1px 1px 3px 1px rgba(255, 255, 255, 0.7);
  border-radius: 0px;
  background-color: black;
}

.myEpisode{
  border-color: red;
  background-color: white;
  color:red;
  border-radius: 10px;
  padding-bottom:20px ;
}

.myTable {
  border-color: black;
  border-style: solid;
  border-width: 3px;
  table, th, td {
    border: 1px  solid white;

  }

  thead {
    tr {
      background-color: rgba(255, 2550, 255, 0.85);
      box-shadow: 2px 0 -2px -2px white;
      border: 3px solid black;
    }


  }

  tbody {
    tr {
      opacity: 0.95;
    }
  }
}
.myBtnDelete{
  min-width: 8vw;
  margin-top: 10px;
  height:40px;
}

.myTdLink{
  word-break: break-all;
}

// icones et bacground ***********************************************************************************************//

.bgImgOne {
  background-image: url('https://www.telerama.fr/sites/tr_master/files/styles/simplecrop1000/public/our_boys_93_ver_1_0.jpg?itok=PIRfhxQA&sc=7737aa218c46466c023415e23d665d7b');
  background-repeat: no-repeat;
  background-size: cover;
}




@media all and (max-width: 980px) {
  .myButton {
    width: 100%;
  }
}


