// assets/css/global.scss

// customize some Bootstrap variables
//$primary: darken(#428bca, 20%);
$primary: lighten(slategray,20%);
$secondary: lighten($primary,20%);
$danger: darken(red,5%);
$dark: black;



// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

//font awsone
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/css/all.css';
