{% extends "base.html.twig" %}
{% block title %}
    Error url not found {{ msg }}
{% endblock %}


{% block body %}
    <body class="bg-danger">
    <h1>{{msg}}</h1>
    </body>
    </html>
{% endblock %}
