{% extends "base.html.twig" %}
{% block title %}
    Welcome!, you are on {{ website }}
{% endblock %}


{% block body %}
    <body class="bg-secondary">
    <h1>Bienvenue sur Wild Series !</h1>
    <a href="{{ path('wild_show', {'page':"paroduit-1"}) }}">Afficher la page 1</a><br>
    <a href="{{ path('wild_show', {'page':5}) }}">Afficher la page 5</a><br>
    {{ dump(programs) }}
    </body>
    </html>
{% endblock %}
